.main__title {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 10px;
  margin-bottom: 24px;

  &-head {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    padding: 62px 70px 24px 24px;

    &-strong {
      font-family: "Jost";
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
    &-span {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
