

.add-section {
  margin: 0 auto;
  display: block;
  width: 540px;
  margin-top: 92px;
  
  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #3a4374;
    margin-left: 42px;
    padding-top: 52px;
  }

  &__link {
    margin-bottom: 68px;
  }
}

.add-container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 40px;
  position: relative;

  &::before{
    display: inline-block;
    width: 56px;
    height: 56px;
    background-image: url("../../assets/images/add-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    position: absolute;
    top: -28px;
    left: 42px;
    content: "";
  }
}



.add-btn-wrap{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 42px;

}

.add-cancel-btn{
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.23px;
  color: #F2F4FE;
  background-color: #3A4374;
  margin-right: 16px;

  &:hover{
    background-color: #656EA3;
  }
  
}

.add-added-btn{
  text-decoration: none;
}

